# This is a basic workflow to help you get started with Actions

name: Deploy project

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Pull changes and re-run containers
      uses: appleboy/ssh-action@v0.1.8
      env:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
      with:
        host: ${{ vars.HOST }}
        username: ${{ vars.USERNAME }}
        key: ${{ secrets.KEY }}
        passphrase: ${{ secrets.PASSPHRASE }}
        port: ${{ vars.PORT }}
        envs: GITHUB_REPOSITORY,ACCESS_TOKEN
        script: |
          cd www
          git pull origin master
          /snap/bin/docker-compose restart
