# This is a basic workflow to help you get started with Actions

name: Setup project

on:
  workflow_dispatch:

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
    - name: Clone repo and run containers
      uses: appleboy/ssh-action@v0.1.8
      env:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
      with:
        host: ${{ vars.HOST }}
        username: ${{ vars.USERNAME }}
        key: ${{ secrets.KEY }}
        passphrase: ${{ secrets.PASSPHRASE }}
        port: ${{ vars.PORT }}
        envs: GITHUB_REPOSITORY,ACCESS_TOKEN
        script: |
          rm -rf www
          git clone https://$ACCESS_TOKEN@github.com/$GITHUB_REPOSITORY.git ./www
          cd www
          /snap/bin/docker-compose up -d
