# This is a basic workflow to help you get started with Actions

name: Setup project

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Clone repo
      uses: appleboy/ssh-action@v0.1.8
      with:
        host: ${{ vars.HOST }}
        username: ${{ vars.USERNAME }}
        key: ${{ secrets.KEY }}
        passphrase: ${{ secrets.PASSPHRASE }}
        port: ${{ vars.PORT }}
        script: |
          echo ${GITHUB_REPOSITORY}
          echo ${{GITHUB_REPOSITORY}}
          echo ${env.GITHUB_REPOSITORY}
          #echo ${{env.GITHUB_REPOSITORY}}
          #echo ${{vars.GITHUB_REPOSITORY}}
          #echo ${env.GITHUB_REPOSITORY}
          #git clone https://${{ secrets.ACCESS_TOKEN }}@github.com/${{ env.GITHUB_REPOSITORY }}.git ./www
